* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  color: #222;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

a {
  color: #167efb;
  text-decoration: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
  margin-top: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

input,
select,
textarea {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
